<!-- Footer -->
<div class="footer_links">
    <ul class="footerlinks_UL">
        <li><a class="footerhover2" href="">Kids Clothing</a></li>
        <li><a class="footerhover2" href="">Women Unstitched</a></li>
        <li><a class="footerhover2" href="">Allure Lawn</a></li>
        <li><a class="footerhover2" href="">Season's Basics </a></li>
        <li><a class="footerhover2" href="">Gift Cards</a></li>
        <li><a class="footerhover2" href="">Men's Unstitched Fabric</a></li>
        <li><a class="footerhover2" href="">Women Ready to Wear</a></li>
        <li><a class="footerhover2" href="">Body Spray Deodorants</a></li>
        <li><a class="footerhover2" href="">Boys Tank Top</a></li>
        <li><a class="footerhover2" href="">Printed Pret</a></li>
        <li><a class="footerhover2" href="">Girls Summer Frocks</a></li>
        <li><a class="footerhover2" href="">Men Kameez Shalwar</a></li>
        <li><a class="footerhover2" href="">Embroidered Pret</a></li>
        <li><a class="footerhover2" href="">Women Festive Collection</a></li>
        <li><a class="footerhover2" href="">Girls Pret</a></li>
        <li><a class="footerhover2" href="">Sale for Boys</a></li>
        <li><a class="footerhover2" href="">Sale for Girls</a></li>
        <li><a class="footerhover2" href="">Sale for Men</a></li>
        <li><a class="footerhover2" href="">Sale for Women</a></li>
        <li><a class="footerhover2" href="">Girls Tops</a></li>
    </ul>
</div>

<footer>
    <!-- Footer Pannel 1 -->
    <div class="footpannel1">
        <img src="Images/white-logo.png" alt="Edenrobe white logo" class="footer_logo">
        <div class="resp_footer">
            <details>
                <summary>General</summary>
                <p><a href="">About us</a></p>
                <p><a href="">Privacy Policy</a></p>
                <p><a href="">Term and Conditions</a></p>
                <p><a href="">FAQs</a></p>
                <p><a href="">Mods of Payment</a></p>
                <p><a href="">Store Locator</a></p> 
            </details>
            <details>
                <summary>Top Categories</summary>
                <p><a href="">Sale</a></p>
                <p><a href="">Merak</a></p>
                <p><a href="">Allure Lawn</a></p>
                <p><a href="">Women Pret</a></p>
                <p><a href="">Fragrances</a></p>
                <p><a href="">Boys Polo Shirts</a></p>
                <p><a href="">Men Kurta Shalwar</a></p>
                <p><a href="">Girls Western Tops</a></p>
                <p><a href="">Gift Cards</a></p>  
            </details>
            <details>
                <summary>Customer Care</summary>
                <p><a href="">Delivery & Return</a></p>
                <p><a href="">Contact Us</a></p>
                <p><a href="">Customer Support: 021 37133266</a></p>
                <p><a href="">Your Wishlist</a></p>
                <p><a href="">Track Your Order</a></p>
            </details>
        </div>
        <div class="resp_footer_list_container">
            <ul class="footer_ul">
                <li class="footer_listItems heading"><a href="#">NEWSLETTER</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Sign up for our newsletter and receive exclusive offers!</a></li>
                <li class="footer_listItems search_bar_container"><input type="email" placeholder="Email" class="footer_Search_bar"><button class="arrow_button"><img src="/Images/white_arrow-removebg-preview.png" alt=""></button></li>
                <li class="footer_listItems "><input type="checkbox" name="checkbox" id="footer_checkBox" title="Please check this box if you want to proceed"> <label for="footer_checkBox">I agree to receiving marketing emails and special deals</label></li>
            </ul>
        </div>
        <p>Email us: <a class="anchor_email" href="mailto:cs@edenrobe.com">cs@edenrobe.com</a></p>
    </div>

    <!-- Footer Pannel 2 -->
    <div class="footpannel2">
        <div class="footer-list-container">
            <ul class="footer_ul">
                <li class="footer_listItems heading"><a href="#">General</a></li>
                <li class="footer_listItems footer_hover"><a href="#">About us</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Privacy Policy</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Term and Conditions</a></li>
                <li class="footer_listItems footer_hover"><a href="#">FAQs</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Mods of Payment</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Store Locator</a></li>  
            </ul>
        </div>
        <div class="footer-list-container">
            <ul class="footer_ul">
                <li class="footer_listItems heading"><a href="#">Top Categories</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Sale</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Allure Lawn</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Women Pret</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Fragrances</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Boys Polo Shirts</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Men Kurta Shalwar</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Girls Western Tops</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Gift Cards</a></li>
            </ul>
        </div>
        <div class="footer-list-container">
            <ul class="footer_ul">
                <li class="footer_listItems heading"><a href="#">Customer Care</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Delivery & Return</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Contact Us</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Customer Support: 021 37133266</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Your Wishlist</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Track Your Order</a></li>
            </ul>
        </div>
        <div class="footer-list-container">
            <ul class="footer_ul">
                <li class="footer_listItems heading"><a href="#">NEWSLETTER</a></li>
                <li class="footer_listItems footer_hover"><a href="#">Sign up for our newsletter and receive exclusive offers!</a></li>
                <li class="footer_listItems search_bar_container"><input type="email" placeholder="Email" class="footer_Search_bar"><button class="arrow_button"><img src="/Images/white_arrow-removebg-preview.png" alt=""></button></li>
                <li class="footer_listItems "><input type="checkbox" name="checkbox" id="footer_checkBox" title="Please check this box if you want to proceed"> <label for="footer_checkBox">I agree to receiving marketing emails and special deals</label></li>
            </ul>
        </div>
    </div>

    <!-- Footer Pannel 3 -->
    <div class="footpannel3">
        <div>
            <img src="Images/masterCard.png" alt="masterCard pic">
            <img src="Images/visaCard.png" alt="visa card pic">
        </div>
        

        <div class="sociallinks">  
            <a href="#"><img class="footerhover3" src="Images/square-facebook-brands-solid.svg" alt="Facebook logo"></a>
            <a href="#"><img class="footerhover3" src="Images/instagram-brands-solid.svg" alt="Instagram logo"></a>
            <a href="#"><img class="footerhover3" src="Images/whatsapp-brands-solid.svg" alt="Whatsapp logo"></a>
            <a href="#"><img class="footerhover3" src="Images/linkedin-in-brands-solid.svg" alt="Linked In logo"></a>
        </div>
    </div>

    <!-- Pannel 4 -->
    <div class="footpannel4">
        <p>COPYRIGHT &copy; 2016 - 2024 EDENROBE PVT. ALL RIGHTS RESERVED.</p>
        <select class="footer_dropDown" name="footer_dropDown" id="footer_dropDown">
            <option value="AU">Australia (PKR RS)</option>
            <option value="CA">Canada (PKR RS)</option>
            <option value="NZ">New Zealand (PKR RS)</option>
            <option value="PK" selected>Pakistan (PKR RS)</option>
            <option value="SA">Saudi Arabia (PKR RS)</option>
            <option value="AE">United Arab Emirates (PKR RS)</option>
            <option value="GB">United Kingdom (PKR RS)</option>
        </select>
    </div>


</footer>
