@media (max-width : 400px) {
    /* Anouncement Bar */
    .Announcement-Bar{
        position: sticky;
        top: 0;
    }
    .Scroller{
        animation: textscroller 10s linear infinite ;
    }
    .Announcement-Bar-text{
        margin-right: 15%;
        font-size: 9px;
    }

    /* Nav bar */
    .NavBar{
        height: 12%;
        width: 100%;
        position: fixed;
        overflow-x: hidden;
        justify-content: space-evenly;
    }
    .nav_item_container3,.nav_item_container1,.nav_item_container2{
        display: none;
    }
    .resp_cont1,.resp_cont2,.resp_cont3{
        text-align: center;
        display: block;
    }
    .resp_cont1{
        width: 25%;
    }
    #icon{
        margin-right: 15%;
    }
    .resp_cont2{
        width: 50%;
    }
    .resp_cont3{
        width: 25%;
    }

    /* Main Body */
    main>div{
        margin: 0px;
    }
    .slideshow_img_container{
        height: 80vh;
    }
    .main_flex1,.main_flex2,.main_flex3{
        flex-wrap: wrap;
    }
    .Main_lastpannel{
        overflow-x: hidden;
        grid-template-columns: auto auto;
    }
    .Auto_scroll_button{
        left: 80%;
    }

    /* Footer */
    .footer_links,.footpannel2,.footpannel3,.footpannel4{
        display: none;
    }
    .footpannel1{
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .resp_footer{
        display: block;
    }

}