*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow'; 
    border: border-box;
    color: white;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

/* Under line Hover Animation */

.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Thickness of the underline */
    bottom: -3px; /* Adjust this based on spacing between text and underline */
    left: 0;
    background-color: black; /* Color of the underline */
    transition: width 0.4s ease, left 0.4s ease; /* Controls the timing of the animation */
}

/* On hover, animate the underline from left to right */
.underline-hover:hover::after {
    width: 100%;
}

/* Announcement Bar */

.Announcement-Bar{
    white-space: nowrap;
    background-color: black;
    padding-top: 11px;
    padding-bottom: 11px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 5;
}
.Announcement-Bar a{
    color: red;
}
.Announcement-Bar-items{
    display: flex;
}
.anchor{
    font-weight:600;
    margin-left: 5%;
}
.Announcement-Bar-text{
    margin-right: 5%;
    font-size: 80%;
}
.Scroller{
    margin-right: 5%;
    animation: textscroller 35s linear infinite ;
}
.Announcement-Bar-items:hover{
    animation-play-state: paused;
}


@keyframes textscroller {
    0%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(-100%);
    }
}



/* Nav-Bar */

/* Nav Animations */

.scrolled{
    background-color: white;
}

.NavBar{
    display: flex;
    width: 100%;
    height: 13.5%;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 5;
    transition: background-color 0.3s linear;
    box-shadow: 0px 0px 10px rgb(176, 171, 171);
}
.nav_item_container2{
    height: 100%;
}
.nav_item_container2>ul{
    height: 100%;
}
.nav_item_container2 .important{
    color: red !important;
}
.nav_item_container2>ul>li{
    height: 100%;
    align-content: center;
}
.nav_item_container2 li{
    margin-right: 1.5em;
}
.nav_item_container3 li{
    margin-right: 1em;
}
.nav_item_container3 select{
    border: none;
    background-color: transparent;
}
ul,li{
    display: inline-block;
}
.nav_logo{
    height: 30px;
}
.resp_cont1,.resp_cont2,.resp_cont3{
    display: none;
}
/* Nav bar drop down */
.NavdropDown {
    position: absolute;
    left: 0;
    background-color: white;
    display: none;
    top: 100%;
    /* z-index: 10000; */
    width: 100vw;
    color: black;
    border-top: 2px solid black;
}
.navListItems:hover .NavdropDown{
    display: block;
}
.DropDownInsideContainer{
    padding-left: 5vw;
    display: flex;
    justify-content: space-between;
}
.DropDownInsideContainer li{
    display: block;
    padding-top: 9%;
}
.Heading{
    font-weight: 900;
}
.DropDownInsideContainer img{
    height: 340px;
 }



/* Main Body Of webpage */

.slideshow_img_container{
    display: flex;
    /* overflow: hidden; */
    max-height: 100vh;
}
.slideshow_images{
    max-height: 100vh;
    max-width: 100vw;
    animation: slideshow 54s linear 0s infinite ;
}
@keyframes slideshow {
    0% {
        transform: translateX(0%); 
    }
    16% {
        transform: translateX(0%); 
    }
    17% {
        transform: translateX(-100%);
    }
    32% {
        transform: translateX(-100%);
    }
    33% {
        transform: translateX(-200%);
    }
    48% {
        transform: translateX(-200%); 
    }
    49% {
        transform: translateX(-300%); 
    }
    64% {
        transform: translateX(-300%); 
    }
    65% {
        transform: translateX(-400%);     
    }
    80% {
        transform: translateX(-400%);
    }
    81% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(-500%); 
    }
}

main>div{
    margin: 2px;
}
.main_flex1,.main_flex2,.main_flex3{
    display: flex;
    justify-content: space-between;
}
.main_flex1 a>img{
    width: 99.7%;
}

.main_flex2 a>img{
    width: 99.5%;
}

.main_flex3 a>img{
    width: 99.5%;
}

/* CAROUSEL DEFINER */

.carousel_definer{
    padding-left: 3% ;
    padding-right: 3%;
}
.carousel_definer li:after{
    content: "/";
    padding-right: 15px;
    padding-left: 15px;
    color: black;
}
.carousel_definer li{
    font-size: larger;
}
.carousel_definer>h2,.carousel_definer_anchor{
    color: black;
}
.carousel_definer ul a{
    color: rgb(184, 179, 172);
}
.carousel_definer>div{
    display: flex;
    justify-content: space-between;
}
.selected{
    color: rgb(0, 0, 0) !important;
    text-decoration: underline;
}

/* Carousel */
.carousel_container:hover button{
    opacity: 1;
    visibility: visible;
    display: block;
}
.carousel_container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel_container>ul{
    display: flex;
}
.carousel_container li{
    margin: 2%;
}
.carousel_container img{
    height: 370px;
}
.carousel_container>button{
    position: absolute;
    top: 170px;
    height: 50px;
    width: 50px;
    font-size: x-large;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 5px;
    color: black;
    background-color: white;
    border-radius: 50%;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1;
}
.carousel_container .prev_button{
    left: 10px;
}
.carousel_container .next_button{
    right: 10px;
}

/* Main Last Pannel */
/* .Main_lastpannel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 5%;
    padding-right: 5%;
}
.Main_lastpannel p{
    position: relative;
    margin-top: 1.5%;
    left: 33%;
    top: 20%;
}
.Main_lastpannel_heading{
    font-weight: bolder;
}
.Main_lastpannel p,.Main_lastpannel a{
    color: black;
}
.Main_lastpannel>div{
    padding-top: 5%;
}
.Main_lastpannel img{
    height: 30%;
    float: left;
} */
.Main_lastpannel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 7%;
}
.Main_lastpannel p,.Main_lastpannel a{
    color: black;
}
.Main_lastpannel img{
    height: 100px;
}
.Main_lastpannel>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Main_lastpannel_heading{
    font-weight: bolder;
}

/* Auto scroll button */
.Auto_scroll_button{
    position: fixed;
    font-size: large;
    background-color: rgb(158, 157, 157);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 87%;
    left: 94%;
    opacity: 0;
    visibility: hidden;
    border-color: transparent;
}

/* Footer  */

/* Footer Animations */
.footerhover3:hover{
    transform: translateY(-10px);
    transition: transform 1s ease;
}
.footerhover2:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.footer_hover:hover{
    font-weight: 900;
}

/* Footer Links */
.footer_links{
    border-top: 1px solid rgb(219, 209, 209);
    height: 24vh;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    box-shadow: 0px 10px 15px black;
    line-height: 35px;
    text-align: center;
}

.footerlinks_UL>li>a{
    color: black;
    font-size: small;
    font-weight: 550;
}

.footerlinks_UL>li:after{
    content: "|";
    padding: 5px;
    color: black;
}

/* Container For Footer Pannel 1,2,3,4 */

footer{
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.resp_footer,.resp_footer_list_container{
    display: none;
}

/* Footer Pannel 1 */

.footpannel1 p{
    font-size: 14px;
    margin-bottom: 2%;
}
.anchor_email{
    text-decoration: underline;
}
.footer_logo{
    height: 18px;
}

/* footer Pannel 2 */

.footpannel2{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
.footer_ul li{
    display: block;
    font-size: 15px;
    margin-bottom: 3%;

}
.footer_hover>a{
    color: rgb(211, 205, 195);
}
.footer_ul li.heading{
    margin-bottom: 25px;
}
.footer_Search_bar{
    width: 75%;
    background-color: black;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 4%;
}
.arrow_button{
    background-color: black;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 45px;
    width: 15%;
}
.arrow_button>img{
    height: 14px;
    width: 20px;
}

/* Footer Pannel 3 */

.footpannel3 {
    background-color: black;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footpannel3 img {
    height: 25px;
    margin: 2px;
}

.footpannel3 .sociallinks {
    margin-left: auto;
}

.footpannel3 .sociallinks a {
    margin: 0 5px;
}

.footpannel3 .sociallinks img {
    height: 20px;
    width: 20px;
}

/* Footer Pannel 4 */

.footpannel4{
    font-size: 0.85rem;
    text-align: center;
    padding: 4%;
}

.footer_dropDown,.footer_dropDown>option{
    margin-top: 1%;
    width: 20%;
    color: black;
    padding: 0.75%;
    border-radius: 5px;
}


/* .NavdropDown{
    position: fixed;
    background-color: white;
    top: 19.9%;
    width: 100%;
    z-index: 4;
    padding-top: 3px;
    display: none;
    color: black;
}
.NavdropDown>li{
    color: black;
}
.NavdropDown>img{
    height: 50vh;
} */