<main>
    <div class="slideshow_img_container">
        <a href=""><img src="Images/img20.png" alt="" class="slideshow_images"></a>
        <a href=""><img src="Images/img21.png" alt="" class="slideshow_images"></a>
        <a href=""><img src="Images/img1.png" alt="" class="slideshow_images"></a>
        <a href=""><img src="Images/img4.png" alt="" class="slideshow_images"></a>
        <a href=""><img src="Images/img5.png" alt="" class="slideshow_images"></a>
        <a href=""><img src="Images/img6.png" alt="" class="slideshow_images"></a>
    </div> 
    
    <div class="main_flex1">
        <div><a href=""><img src="Images/img22.png" alt=""></a></div>
        <div><a href=""><img src="Images/img8.png" alt=""></a></div>    
    </div>
    <div class="main_flex2">
        <div><a href=""><img src="Images/img9.png" alt=""></a></div>
        <div><a href=""><img src="Images/img10.png" alt=""></a></div>
        <div><a href=""><img src="Images/img11.png" alt=""></a></div> 
    </div>
    <div class="main_flex3">
        <div><a href=""><img src="Images/img12.png" alt=""></a></div>
        <div><a href=""><img src="Images/img13.png" alt=""></a></div>
        <div><a href=""><img src="Images/img14.png" alt=""></a></div>
    </div>

    <div class="carousel_definer">
        <h2>Best Sellers</h2>
        <div>
            <ul>
                <li><a class="links" href="">MEN</a></li>
                <li><a class="links" href="">WOMEN</a></li>
                <li><a class="links" href="">KIDS</a></li>
                <li><a class="links" href="">FRAGRANCES</a></li>
            </ul>
            <a class="carousel_definer_anchor" href="">Shop Men</a>
        </div>
    </div>

    <div class="carousel_container">
        <button class="carousel_button prev_button">&#8592;</button>
        <ul class="Men_Carousel carousel">
            <li><a href=""><img src="Images/carousel_Male_img1.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img2.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img3.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img4.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img5.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img6.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img7.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img8.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img9.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img10.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img11.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Male_img12.png" alt=""></a></li>
        </ul>
        <ul class="Women_Carousel carousel">
            <li><a href=""><img src="Images/carousel_Female_img1.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img2.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img3.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img4.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img5.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img6.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img7.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img8.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img9.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img10.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img11.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_Female_img12.png" alt=""></a></li>
        </ul>
        <ul class="Kids_Carousel carousel">
            <li><a href=""><img src="Images/carousel_kids_img1.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img2.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img3.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img4.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img5.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img6.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img7.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img8.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img9.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img10.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img11.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_kids_img12.png" alt=""></a></li>
        </ul>
        <ul class="Frangrances_Carousel carousel">
            <li><a href=""><img src="Images/carousel_fragrances_img1.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img2.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img3.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img4.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img5.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img6.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img7.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img8.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img9.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img10.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img11.png" alt=""></a></li>
            <li><a href=""><img src="Images/carousel_fragrances_img12.png" alt=""></a></li>

        </ul>
        <button class="carousel_button next_button">&#8594;</button>
    </div>

    <div class="Main_lastpannel">
        <div>
            <div>
                <img src="Images/message_dots3.png" alt="">
            </div>
            <div>
                <p class="Main_lastpannel_heading">Customer Support</p>
                <p>Mon - Sat, 9am - 6pm</p>
            </div>
        </div>
        <div>
            <div>
                <img src="Images/box.png" alt="">
            </div>
            <div>
                <p class="Main_lastpannel_heading">Easy Exchange</p>
                <p>14 Days Easy Exchange</p>
            </div>
        </div>
        <div>
            <div>
                <img src="Images/locator.png" alt="">
            </div>
            <div>
                <p class="Main_lastpannel_heading"><a href="">Store Locator</a></p>
                <p><a href="">See all our outlets</a></p>
            </div>
        </div>
        <div>
            <div>
                <img src="Images/truck.png" alt="">
            </div>
            <div>
                <p class="Main_lastpannel_heading">Worldwide Delivery</p>
                <p>T&C Applied</p>
            </div>
        </div>
    </div>

    <button class="Auto_scroll_button">
        &#9757;
    </button>
</main>